@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.App {
  font-family: Roboto;
  text-align: center;
}

header {
  color: #FFF;
  background-color: #333333;
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
  padding: 0px 45px;
  text-transform: uppercase;
}

.dashboard-container {
  display: flex;
  justify-content: space-around
}
